
<main id="main" class="main">

    <div class="pagetitle">
        <h1>StateList</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">State</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-success float-end mb-2 mt-3" asp-area="" asp-controller="State" asp-action="StateForm">Add State</a>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <h2 class="mt-3">State List</h2>

                                <thead>
                                    <tr>
                                        <th>StateID</th>
                                        <th>Country Name</th>
                                        <th>State Name</th>
                                        <th>State Code</th>
                                        @* <th>Creation Date</th> *@
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Example Data Row -->
                                    <tr>
                                        <td>1</td>
                                        <td>Gujrat</td>
                                        <td>California</td>
                                        <td>CA</td>
                                        @* <td>2025-01-18 10:30:00</td> *@
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Bihar</td>
                                        <td>Texas</td>
                                        <td>TX</td>
                                        @* <td>2025-01-18 10:32:00</td> *@
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Cali Fornia</td>
                                        <td>Florida</td>
                                        <td>FL</td>
                                        @* <td>2025-01-18 10:35:00</td> *@
                                    </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->