
<main id="main" class="main">

    <div class="pagetitle">
        <h1>StateList</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">State</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Search User</h5>

                            <form class="row g-3">
                                <div class="col-md-4">
                                    <label for="CountryName" class="form-label">Country Name</label>

                                    <input type="text" class="form-control  border border-black" placeholder="Enter Country Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="StateName" class="form-label">State Name</label>

                                    <input type="text" class="form-control  border border-black" placeholder="Enter State Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="StateCode" class="form-label">State Code</label>

                                    <input type="text" class="form-control  border border-black" placeholder="Enter State Code">
                                </div>

                                <div class="text-start">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-success float-end mb-2 mt-3" asp-area="" asp-controller="State" asp-action="StateForm">Add State</a>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <h2 class="mt-3">State List</h2>

                                <thead>
                                    <tr>
                                        @* <th>StateID</th> *@
                                        <th>Country Name</th>
                                        <th>State Name</th>
                                        <th>State Code</th>
                                        @* <th>Creation Date</th> *@
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Example Data Row -->
                                    <tr>
                                        @* <td>1</td> *@
                                        <td>Gujrat</td>
                                        <td>California</td>
                                        <td>CA</td>
                                        @* <td>2025-01-18 10:30:00</td> *@
                                    </tr>
                                    <tr>
                                        @* <td>2</td> *@
                                        <td>Bihar</td>
                                        <td>Texas</td>
                                        <td>TX</td>
                                        @* <td>2025-01-18 10:32:00</td> *@
                                    </tr>
                                    <tr>
                                        @* <td>3</td> *@
                                        <td>Cali Fornia</td>
                                        <td>Florida</td>
                                        <td>FL</td>
                                        @* <td>2025-01-18 10:35:00</td> *@
                                    </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->