@model AddressBook.Models.CityModel

<main id="main" class="main">

    <div class="pagetitle">
        <h1>City</h1>
        <nav>
            <ol class="breadcrumb">
                @* <p>Home</p> *@
                @* @Html.ActionLink("simple link to a 'home' controller 'index' action","Index","Home") *@
                @* @Html.ActionLink("Link to index action","Index") *@
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Layouts</li>
                
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-100">

                <div class="card">
                    <div class="card-body">

                        <!-- Horizontal Form -->
                        <body>
                            <div class="container mt-5">
                                <h2 class="mb-4">Add/Edit City</h2>

                                <form action="#" method="POST">
                                    <div class="mb-3">
                                        <label for="CountryName" class="form-label"><span style="color: red;">*</span>Country Name</label>
                                        <select asp-for="CountryID" class="form-control" >
                                            <option value="">select country</option>

                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>

                                        </select>
                                        <span asp-validation-for="CountryID" class="form-text text-muted"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="StateName" class="form-label"><span style="color: red;">*</span>State Name</label>
                                        <select asp-for="StateID" class="form-control" >
                                            <option value="">select state</option>

                                            <option value="1">Gujrat</option>
                                            <option value="2">Jammu Kasmir</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Cali Fornia</option>


                                        </select>
                                        <span asp-validation-for="StateID" class="form-text text-muted"></span>

                                    </div>
                                    <div class="mb-3">
                                        <label for="cityname" class="form-label"><span style="color: red;">*</span>City Name</label>
                                        <input asp-for="CityName" type="text" class="form-control">
                                        <span asp-validation-for="CityName" class="form-text text-muted"></span>

                                    </div>
                                    <div class="mb-3">
                                        <label for="stdcode" class="form-label"><span style="color: red;">*</span>STD Code</label>
                                        <input asp-for="STDCode"  type="text" class="form-control">
                                        <span asp-validation-for="STDCode" class="form-text text-muted"></span>

                                    </div>
                                    <div class="mb-3">
                                        <label for="pincode" class="form-label"><span style="color: red;">*</span>Pin Code</label>
                                        <input asp-for="PinCode" type="text" class="form-control">
                                        <span asp-validation-for="PinCode" class="form-text text-muted"></span>


                                    </div>
                                    @* <div class="mb-3"> *@
                                    @*     <label for="creationdate" class="form-label">Creation Date</label> *@
                                    @*     <input type="date" class="form-control" id="creationdate" name="creationdate" required> *@
                                    @* </div> *@
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a class="btn btn-danger" asp-area="" asp-controller="City" asp-action="CityList">Cancel</a>

                                </form>
                            </div>

                            
                        </body>
                        <!-- End Horizontal Form -->

                    </div>
                </div>
                </div>
                </div>
                </section>
                </main>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

}