@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="">

    <div class="container py-5">

        <div class="bg-white border border-dark rounded p-4 shadow-lg text-info bg-dark">
            
            <h1 class="text-center text-info font-weight-bold">Product Detail</h1>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="id" class="form-label text-dark">Product ID</label><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">
                    <input type="id" class="form-control bg-light" id="id">
                </div>
            </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="name" class="form-label text-dark">Name</label><span class="text-danger"> *</span>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control bg-light" id="name">
                    </div>
                </div>



            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="Discription" class="form-label text-dark">Discription<span><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control bg-light" id="orderId">
                </div>
            </div>

      



                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="Price" class="form-label text-dark">Price<span><span class="text-danger"> *</span>
                    </div>
                    <div class="col-md-8">
                        <input type="number" class="form-control bg-light" id="Price">
                    </div>
                </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="Catagory" class="form-label text-dark">Catagory</label><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cloths" value="Cloths">
                            <label class="form-check-label" for="cloths">Cloths</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="food" value="Food">
                            <label class="form-check-label" for="food">Food</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="electronic" value="Electronic">
                            <label class="form-check-label" for="electronic">Electronic</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="makeup" value="Make Up">
                            <label class="form-check-label" for="makeup">Make Up</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="rating" class="form-label text-dark">Rating</label><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control bg-light" id="rating" min="1" max="5" placeholder="Enter a number between 1 and 5">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="Stock_Qquntity" class="form-label text-dark">Company Name</label><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control bg-light" id="Stock_Qquntity">

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="ISActive" class="form-label text-dark">IS Active</label><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">

                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" id="IsActiveYes" name="IsActive" value="true">
                        <label class="form-check-label" for="IsActiveYes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="IsActiveNo" name="IsActive" value="false">
                        <label class="form-check-label" for="IsActiveNo">No</label>
                    </div>
                </div>
            </div>
            
                   
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="ReleaseDate" class="form-label text-dark">Release Date</label><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control bg-light" id="Release Date">

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="ImageURL" class="form-label text-dark"> ImageURL</label><span class="text-danger"> *</span>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control bg-light" id=" ImageURL">

                </div>
            </div>
            
            <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
            </div>

   </div>
   </div>
</body>